
@{
    ViewBag.Title = "Terms of Service";
}

<div class="row">
    <div class="col-md-12">

        <strong>Terms and Conditions</strong>
        <br />
        <strong>Effective July 30, 2015</strong>
        <br />
        <p>
            Welcome to AsiaRoom, LLC! Please read these Terms and Conditions of use carefully before using or obtaining any content, products, or services through our Web sites.
        </p>
        <p>
            Access to and use of these Web sites is subject to acceptance of the terms and conditions below ("Terms"), which include our Privacy Policy. By accessing, using or obtaining any content, products, or services through these Web sites, you agree to be bound by these terms. If you do not accept all of these terms, then please do not use these Web sites.
        </p>
        <ul>
            <li>Definitions</li>
            <li>Scope and Terms</li>
            <li>Use of the Site</li>
            <li>Privacy and Security</li>
            <li>Services and Content</li>
            <li>Links to Third Party Sites</li>
            <li>Intellectual Property</li>
            <li>Fees</li>
            <li>Disclaimer of Warranty</li>
            <li>Limitation of Liability</li>
            <li>Indemnification</li>
            <li>Travel Service Terms and Conditions</li>
            <li>Disputes</li>
            <li>General</li>
            <li>Provisions of These Terms and Conditions</li>
            <li>Contact Information</li>
        </ul>


        <strong>1. Definitions</strong>
        <p>
            In this document, terms that commence with a capital letter are defined in this Section or in the preamble.
        </p>
        <p>
            "Content" means the text, documents, information, data, articles, images, photographs, graphics, software, applications, video recordings, audio recordings, sounds, designs, features, and other materials that are available on the Site. "Content" also includes Marks and Products and Services.
        </p>
        <p>
            "Mark" means trademark, trade name, service mark, trade dress, logo, custom graphics, or icon.
        </p>
        <p>
            "Member" means an individual who has registered with the Site. Members choose a Member ID and a password.
        </p>
        <p>
            "Member ID" means the e-mail address you use (with your password) to login to our Site.
        </p>
        <p>
            "AsiaRoom" or "we" means AsiaRoom, and its subsidiaries and affiliates.
        </p>
        <p>
            "Products and Services" means the airline travel, hotel accommodation, car rental , ground transportation, tours, theater tickets, attractions, travel insurance, AsiaRoom Alerts, and other items available through the Site.
        </p>
        <p>
            "Provider" means AsiaRoom's licensors, suppliers, information providers, and travel and leisure service providers.
        </p>
        <p>
            "Book" means to reserve.
        </p>
        <p>
            The terms "Site," "Marks," "Content," and "Products and Services" do not include the sites, marks, content, products or services that are provided by third parties, and that are available through a link from the Site.Their use is subject to the terms set forth by their respective owners or operations, on the third party's Web site.
        </p>
        <p>
            "Site" means this Web site and any respective subsites, together with the respective Content, Marks, Products and Services available from this Site and any subsites.
        </p>
        <p>
            "Exclusive" offers are exclusive to AsiaRoom and its affiliated companies
            return to top
        </p>

        <strong>2. Scope and Terms</strong>

        <strong>Site</strong>
        <p>
            These Terms govern your use of all Content, Products or Services available through the Site. You agree to be bound by these Terms, and to use the Site in strict compliance with all applicable laws, rulings and regulations, and in a manner that does not negatively reflect on the goodwill or reputation of AsiaRoom and its Providers.
        </p>
        <strong>Additional Terms</strong>
        <p>
            Additional terms, including Travel Services Terms and Conditions may apply when you Book Products or Services, or when you participate in sweepstakes, raffle, or other promotions. For example, airlines have contracts of carriage, hotels have cancellation policies, and sweepstakes are subject to rules. These additional terms are found in the area of the Site where you will Book a Product or Service, or where you will register for a sweepstakes.
        </p>
        <p>
            You agree to abide by the terms and conditions of imposed by any Provider, including payment of all amounts when due, and compliance with all rules and restrictions regarding the availability of products or services.
        </p>
        <p>
            Examples of additional terms are provided below. There may be other terms, for example if we organize a promotion. You are responsible for reviewing the forms that you fill out when you Book Products or Services, or participate in sweepstakes, raffle or other promotions.
        </p>
        <ul>
            <li>AsiaRoom Attractions & Services Terms and Conditions</li>
            <li>AsiaRoom Package Terms and Conditions</li>
            <li>AsiaRoom Affiliate Program-Terms and Conditions</li>
            <li>Airline Ticket Terms and Conditions</li>
            <li>Air Fares, Taxes and Fees</li>
            <li>AsiaRoom User Rules for Interactive Features</li>
        </ul>

        <strong>Age restriction</strong>
        <p>
            Minors (as defined under the laws of their jurisdiction or residence) are not eligible to register for, use or Book the Products or Services available on the Site.
        </p>
        <strong>Responsible party</strong>
        <p>
            You are responsible for maintaining the secrecy of your Member ID and password. This is essential to protect the confidentiality of any information that may be stored in My Stuff folder. In addition, you will be financially accountable for all use of our Site by you and anyone using your password and login information.
            return to top
        </p>

        <strong>3. Use of the Site</strong>

        <strong>License</strong>
        <p>
            AsiaRoom grants you a limited, personal, nontransferable, non-sublicensable, revocable license to access and use the Site only as expressly permitted in these Terms. Except for this limited license, we do not grant you any other rights or license with respect to this Site; any rights or license not expressly granted herein are reserved.
        </p>
        <p>
            Unless we have granted you permission in advance and in writing, you may use the Site only for your personal, non-commercial use, and not to provide services to a third party.
        </p>
        <p>
            No Copy, Distribution, or Sale
        </p>
        <p>
            You may download, display, or print one (1) copy of any portion of the Content.
        </p>
        <p>
            If you do so, you may not modify the Content in any way, and you must reproduce the AsiaRoom copyright notice (or the Provider's notice as applicable) in the form:
        </p>
        <p>
            &copy; @DateTime.Now.Year - AsiaRoom, LLC&nbsp;&nbsp;&nbsp;All Rights Reserved.
        </p>
        <p>
            As displayed on the relevant page(s) that you might copy.
        </p>

        <strong>Except as provided above, you may not</strong>
        <ul>
            <li>Copy, reproduce, upload, post, display, republish, distribute, transmit, any part of the Content in any form whatsoever;</li>
            <li>Use a frame or border environment around the Site, or other framing technique to enclose any portion or aspect of the Site, or mirror or replicate any portion of the Site;</li>
            <li>Modify, translate into any language or computer language, or create derivative works from, any Content or any part of this Site;</li>
            <li>Reverse engineer any part of this Site; or</li>
            <li>Sell, offer for sale, transfer, or license any portion of the Site in any form to any third parties</li>
        </ul>

        <strong>Other Limitations</strong>

        <p>
            Unless otherwise provided within these Terms, or unless specific applicable law requires AsiaRoom to allow you to do so, you may not do any of the following without the prior written consent of AsiaRoom:
        </p>
        <ul>
            <li>Use any robot, spider, other automatic device, or manual process to monitor Content;</li>
            <li>Use the Site other than to make legitimate reservations or bookings;</li>
            <li>Use the Site to make any false, fraudulent or speculative reservation, or any reservation in anticipation of demand;</li>
            <li>Imply in any fashion that AsiaRoom is endorsing your products or services;</li>
            <li>Place false or misleading information on the Site;</li>
            <li>Post or transmit any unlawful, threatening, libelous, defamatory, obscene, indecent, inflammatory, pornographic or profane material or any material that could constitute or encourage conduct that would be considered a criminal offense, give rise to civil liability, or otherwise violate any law; or for any other purpose that is unlawful or prohibited by these Terms.</li>
            <li>Use or access the Site in any way that, in our reasonable judgment, adversely affects the performance or function of the Site, or any other computer systems or networks used by AsiaRoom, other Site users or members;</li>
            <li>Upload or transmit to the Site or use any device, software or routine that contains viruses, Trojan horses, worms, time bombs, or other computer programming routines that may damage, interfere or attempt to interfere with, intercept, the normal operation of our Site, or appropriate the Site or any system, or take any action that imposes an unreasonable load on our computer equipment, or that infringes upon the rights of a third party;</li>
            <li>Use any device, software, or routine that interferes, or attempts to interfere, with the normal operation of our site, or take any action that impose an unreasonable load on our equipment; or</li>
            <li>Disguise the origin of the information transmitted through the Site.</li>
        </ul>
        <strong>Member ID and Password</strong>
        <p>
            Access to certain areas of the Site is only available to registered members. To become a registered Member, you are required to answer a limited number of mandatory questions. Answers to additional questions are optional. You represent and warrant that all information you supply to us about yourself and others, including email addresses, is true, valid and accurate, and that you have the right to supply us with such information.
        </p>
        <strong>Termination</strong>
        <p>
            AsiaRoom, in its sole discretion, may, at any time and without advance notice or liability, terminate or restrict your access to all or any component of our Site, even if access continues to be allowed to others. Upon such termination or suspension, you must immediately discontinue use of the Site, and destroy any copy you have made of any portion of the Site. Accessing the Site after such termination, suspension, or discontinuation shall constitute an act of trespass. AsiaRoom shall not be responsible to you to such suspension or termination.
        </p>
        <strong>Changes</strong>
        <p>
            Any aspect of the Site may be changed, supplemented, deleted, updated, discontinued, suspended, or modified at any time, and without prior notice to you. However, we make no commitment to update the information contained on this Site. You agree that AsiaRoom shall not be liable to you for any delay or other damages that might result from such modification, suspension, or discontinuance.
        </p>
        <p>
            We may also, at any time, change or impose fees for certain services, or establish or change general practices and limits concerning certain services.We may also modify these Terms, as provided in Modifications
        </p>

        <strong>4. Privacy and Security</strong>
        <p>
            Your use of the Site is subject to our Privacy Policy . You agree that you have read our Privacy Policy , and it is reasonable and acceptable to you.
        </p>
        <p>
            Your acceptance of these Terms is also your consent to the information practices in our Privacy Policy.
        </p>


        <strong>5. Services and Content</strong>

        <strong>Availability</strong>
        <p>
            We will use our reasonable commercial efforts to keep our Site available on a 24-hour/7-day-a- week basis, subject to necessary scheduled downtime for maintenance, unscheduled maintenance, and system outages. We cannot promise that access to the Site will be uninterrupted or available at all times. We assume no liability or responsibility for any delay, interruption, or downtime.
        </p>
        <strong>Content</strong>
        <p>
            The Content is intended for information purposes only. Although we exercise reasonable efforts to ensure their quality and accuracy, there might be errors, or the information provided may not be complete, current, or applicable to your particular situation. Further, information provided regarding the service, amenities, products, etc. have been provided to us by the vendor. We assume no liability or responsibility for any errors or omissions. You are responsible for evaluating the accuracy, completeness, and usefulness of any opinion, advice, or other content available through the Site or obtained from a linked site.
        </p>
        <p>
            You should not take any action based on information on this Site until you have received a confirmation of your transaction. We send confirmations within 24 hours of your Booking. If you have not received a confirmation of your booking via e-mail, first look into your "spam" or "junk" folder to verify that it has not been misdirected, and if still not found, please contact our customer service department. The Contact Information is provided below.
        </p>
        <strong>Viruses</strong>
        <p>
            We make reasonable attempts to exclude viruses from the Site, but cannot ensure that the Site will be at all times free from viruses or other destructive software. You are urged to take appropriate safeguards before downloading information from the Site. We assume no responsibility for any damages to computer equipment or other property that may result from use of the Site or downloading anything from the Site.
        </p>
        <strong>International Travel</strong>
        <p>
            Although most travel, including travel to international destinations is completed without incident, travel to certain destinations may involve greater risks than others. We urge you to review and evaluate travel prohibitions, warning, announcements, and advisories issued by the government and the aviation administration before booking travel to international destinations. Information on conditions in various countries and the level of risk associated with travel to particular international destinations can be found at our Traveler Update section, which provides country specific information, information of rules, warnings, visa requirements, etc. as well as on public sites, such as www.state.gov, www.tsa.gov, www.dot.gov, www.faa.gov, www.cdc.gov, www.treas.gov/ofac, and www.customs.gov
        </p>
        <p>
            By offering for sale travel to particular international destinations, AsiaRoom does not represent or warrant that travel to such point is advisable or without risk. AsiaRoom does not accept liability for damages, losses, or delays that may result from improper documents for entry, exit, length of stay, or from travel to such destinations
        </p>

        <strong>6. Links to third party sites</strong>

        <strong>Outbound Links</strong>
        <p>
            For your convenience, our Site provides links to other sites. When you click on one of these links, you are leaving our site and entering another site. We are not responsible for such third party Web sites.
        </p>
        <p>
            You should carefully review the terms and conditions of use of these sites, because these terms will apply to your visit to these other sites.
        </p>
        <strong>Inbound Links</strong>
        <p>
            We welcome links from a third party site to our Site, through a plain text link, provided that (a) you discontinue providing a link to our Site if so requested by AsiaRoom; (b) you do not imply in any fashion that AsiaRoom is endorsing any of your products or service or is affiliated with you, (c) you do not present AsiaRoom in a false light, or provide misleading or false information about AsiaRoom, or its Site or Services, (d) you do not remove or obscure the copyright notices, or other notices on this Site; (e) you do not use any Mark of AsiaRoom; and (f) you do not replicate, frame or mirror the content of the Site. We reserve the right to require you to remove links to the Site, in our sole discretion.
        </p>

        <strong>7. Intellectual Property</strong>

        <strong>Ownership rights</strong>
        <p>
            This Site is the sole and exclusive property of AsiaRoom or its licensors. AsiaRoom and its licensors retain all right, title and interest (including all copyright, trademark, patent, trade secrets, and all other intellectual property rights) in the Site. The Site is protected by copyright, trademark, patent, trade secrets, unfair competition, and other laws of worldwide, through the application of local laws or international treaties. Any unauthorized use, reproduction or modification of this Site may violate such laws.
        </p>
        <strong>Trademarks</strong>
        <p>
            AsiaRoom, and all other Marks that appear, are displayed, or used on the Site are registered or common law trademarks or service marks of AsiaRoom and its Providers. These Marks may not be copied, downloaded, reproduced, used, modified, or distributed in any way without prior written permission from AsiaRoom or the relevant Provider, except as an integral party of any authorized copy of the Content.
        </p>
        <strong>Additional Copyright Notices</strong>
        <p>
            Much of the Content is owned by third parties. These materials are subject to the additional terms below, which are incorporated into, and made a part of the Terms.
        </p>
        <p>
            If there is a conflict between the Additional Copyright Notices and the remainder of these Terms, the Additional Copyright Notice supersede any provision of these Terms with respect to the Content to which it pertains.
        </p>
        <strong>Your Comments and Submissions</strong>
        <p>
            Any communications or materials you transmit to AsiaRoom, through the Site, by electronic mail or otherwise, including any data, question, comments, rating of a property or attraction, suggestion, idea, or the like ("Communications or Materials") will be treated as non-confidential and non-proprietary. By voluntarily submitting to us, or by posting on the Site any Communications or Materials, you grant AsiaRoom, and all users of the Site, a worldwide, non-exclusive, royalty free, perpetual, irrevocable, and fully sub-licensable license to use, reproduce, modify, adapt, publish, translate, create derivative works from distribute, and display such Communications or Materials in any form, media or technology. We assume no responsibility for any Communications or Materials posted or submitted, or for the return or such Communications or Materials. We want your feedback and appreciate your ideas and suggestions, but we are unable to answer every comment individually.
        </p>

        <strong>8. Fees</strong>
        <p>
            AsiaRoom may charge a fee for the service it provides when you book or reserve travel services, or accommodations through the Site. Any such service fee is non-refundable. In addition, you will be responsible for all charges, fees, duties, taxes, and assessment arising out of your use of the Products and Services available from the Site.return to top
        </p>

        <strong>9. Disclaimer of Warranty</strong>
        <p>
            AsiaRoom and its Providers make no warranty of any kind regarding the Site, Content, Products or Services, all of which are provided on an "as is" basis. AsiaRoom and its Providers expressly disclaim any representation or warranty that the Site will be free from errors, viruses or other harmful components, that communications to or from the Site will be secure and not intercepted, that the Services and other capabilities offered from the Site will be uninterrupted, or that its Content will be accurate, complete or timely. The fact that AsiaRoom is including or offering any Product or Service on the Site is not an endorsement or a recommendation of the Product or Service.
        </p>
        <p>
            OTHER THAN THOSE WARRANTIES WHICH, UNDER THE LAWS APPLICABLE TO THESE TERMS, ARE IMPLIED BY LAWS, AND ARE INCAPABLE OF EXCLUSION, RESTRICTION OR MODIFICATION, ASIAROOM AND ITS PROVIDERS EXPRESSLY DISCLAIM ALL WARRANTIES AND CONDITIONS, INCLUDING IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT, AND THOSE ARISING BY STATUTE OR OTHERWISE IN LAW OR FROM A COURSE OF DEALING OR USAGE OF TRADE.
        </p>

        <strong>10. Limitation of Liability</strong>
        <p>
            Subject to applicable law, use of this Site and its Content is at your sole risk. Services and Products made available on this Site are subject to conditions imposed by the Providers, including but not limited to tariffs, conditions of carriage, international conventions and arrangements, and federal government regulations. Providers who furnish products or services through this Site are independent contractors, and not agents or employees of AsiaRoom.
        </p>
        <p>
            IN NO EVENT WILL ASIAROOM OR ITS PROVIDERS BE LIABLE TO ANY PARTY FOR ANY DIRECT, INDIRECT, SPECIAL OR OTHER CONSEQUENTIAL DAMAGES FOR ANY USE OF THIS SITE, ANY HYPER LINKED WEB SITE, THE ACTS OR OMISSIONS OF PROVIDERS WHO FURNISH PRODUCTS OR SERVICES THROUGH THIS SITE, OR THE PRODUCTS OR SERVICES OFFERED BY PROVIDERS THROUGH THIS SITE, INCLUDING, WITHOUT LIMITATION, WHETHER BASED IN CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, THAT ARISES OUT OF OR IS IN ANY WAY CONNECTED WITH(I) ANY USE OF, BROWSING OR DOWNLOADING OF ANY PART OF OUR SITE OR CONTENT, (II) ANY FAILURE OR DELAY (INCLUDING WITHOUT LIMITATION THE USE OF OR INABILITY TO USE ANY COMPONENT OF THIS SITE FOR RESERVATIONS OR TICKETING), OR (III) THE PERFORMANCE OR NON PERFORMANCE BY US OR ANY PROVIDER, OR (IV) ANY DAMAGES OR INJURY CAUSED BY ANY FAILURE OF PERFORMANCE, ERROR, OMISSION, INTERRUPTION, DELETION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUS, COMMUNICATION LINE FAILURE, THEFT OR DESTRUCTION OR UNAUTHORIZED ACCESS TO, ALTERATION OF, OR USE OF RECORD, EVEN IF ASIAROOM AND THE PROVIDER(S) HAVE BEEN ADVISED OF THE POSSIBILITY OF DAMAGES TO SUCH PARTIES OR ANY OTHER PARTY.
        </p>
        <p>
            If, despite the limitation above, AsiaRoom or a Provider is found liable for any loss or damage which arises out of or is in any way connected with any of the occurrences described in the limitation above, then AsiaRoom and the Providers' liability will in no event exceed, in total, the sum of US$250.00. Some states do not allow the limitation of liability, so the limitations above may not apply to you.
        </p>


        <strong>11. Indemnification</strong>
        <p>
            You agree to defend and indemnify AsiaRoom and any Provider, and each of their respective officers, directors, employees and agents from and against any claim, cause of action or demand, including without limitation reasonable legal and accounting fees, in excess of the liability described above, in any action filed or commenced by any third party against AsiaRoom as a result of (1) your breach of these Terms or the documents made part of these Terms by reference, (2) your violation of any law or the rights of a third party or (3) your use of our Site.
        </p>

        <strong>12. Travel Services Terms and Conditions</strong>

        <strong>Reservations and bookings</strong>
        <p>
            You agree to abide by the terms and conditions of booking imposed by any supplier with whom you elect to deal. A supplier that is an air carrier is required to make available to the public the terms of its contract of carriage, and we make available the fare rules for all air carrier tickets before booking.
        </p>
        <p>
            The circumvention of an air carrier's rules, including practices such as back-to-back ticketing (booking two or more tickets with overlapping travel dates in order to circumvent minimum stay requirements) and hidden-city ticketing (booking tickets including segments which the booker does not intend to use in order to circumvent an air carrier's pricing structure), is prohibited by many air carriers. The use of prohibited ticketing practices may result in the air carrier taking actions including the cancellation of the ticket, denied boarding, revocation of frequent flier miles and other benefits, additional charges to the booker's credit card, additional charges collected at the airport, or future invoicing.
        </p>
        <p>
            You are responsible for ensuring that your bookings abide by the terms and conditions of bookings imposed by any supplier with whom you elect to deal, including terms and conditions of booking set forth in an air carrier's fare rules or contract of carriage.
        </p>
        <p>
            Neither AsiaRoom nor the FAA, nor any provider of air traffic data makes any promises or guarantees as to the accuracy, completeness, or adequacy of any delay or other air traffic management information on this site, and AsiaRoom and the FAA expressly disclaims liability for any errors and omissions.
        </p>

        <strong>13. Disputes</strong>
        <p>
            The laws of the State of South Carolina (USA), without regard to its conflict of law rules, will govern these Terms. The United Nations Convention on Contracts for the International Sale of Goods will not apply to these Terms and Conditions. If you take any legal action relating to your use of our site or these Terms, you agree to file such action only in the state and federal courts located in Greenville County, South Carolina (USA). In any such action or any action we may initiate, the prevailing party will be entitled to recover all legal expenses incurred in connection with the action, including but not limited to costs, both taxable and non-taxable, and reasonable attorneys' fees.
        </p>

        <strong>14. General</strong>
        <p>
            Your acceptance of these Terms, and your use of the Site do not create a joint venture, partnership, employment, or agency relationship with us. You may not assign, delegate, or transfer your rights or obligations under these Terms. If we fail to act with respect to your breach or anyone else's breach on any occasion, we are not waiving our right to act with respect to future or similar breaches. If a court finds any of these Terms to be unenforceable or invalid, that Term will be enforced to the fullest extent permitted by applicable law and the other Terms will remain valid and enforceable. The headings in these Terms are for your convenience and reference; they do not limit or affect these Terms. These Terms, together with those items made a part of these terms by reference, make up the entire agreement between us relating to your use of our site, and replaces any prior understandings or agreements (whether oral or written) regarding your use of our site.
        </p>

        <strong>15. Provisions of these Terms and Conditions</strong>

        <strong>Prior Terms and Conditions</strong>
        <p>
            These Terms supersede any prior AsiaRoom Terms and Conditions relating to the use of the Site that were displayed on this Site before the date stated above. Unless specifically provided, they do not supersede the Additional Terms for carriage, awards, attractions provided elsewhere in this Site.
        </p>
        <strong>Modifications</strong>
        <p>
            We may modify, revise or update these Terms and/'or the Privacy Policy, at any time, by updating this posting. You should visit this page from time to time to review the then-current Terms, because they are binding on you. Your continued use of our site, following the posting of conspicuous notice of any modification, will be subject to the Terms in effect at the time of your use. Certain provisions of these Terms may be superseded by expressly designated legal notices or terms located on particular pages of this Site.
        </p>
        <strong>Written documents</strong>
        <p>
            You may preserve these Terms in written form by printing them for your records, and you waive any other requirement that these Terms be evidenced by a written document.
        </p>
        <strong>Electronic Notification</strong>
        <p>
            To the extent that we may need to contact you, you agree that we may do so via any electronic means, included but not limited to communication posted on the Site, electronic mail, or instant messaging.
        </p>

        <strong>16. Contact Information</strong>
        <p>
            If you have any questions or concerns about these Terms or if you need further assistance with respect to access to or use of the Site or the services offered by AsiaRoom, you may contact our Customer Service department as indicated below. We will attempt to respond to your questions or concerns promptly after we receive them. E-mail:support@asiaroom.com
        </p>

        <strong>Mailing address:</strong>
        <p>
            Customer Service, AsiaRoom, LLC<br />
            7121 Station House Rd<br />
            Elkridge, MD 21075<br />
        </p>
        <p>
            <i class="fa fa-phone"></i>
            <abbr title="Phone">P</abbr>: +1.828.389.3357
        </p>
    </div>
</div>