@{
    Layout = null;
}

<div class="col-md-3">
    <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
        <li class="list-group-item">@Html.ActionLink("Verify user", "VerifyUser")</li>
        <li class="list-group-item">@Html.ActionLink("Unapproved hosts", "UnapprovedHosts")</li>
    </ul>
</div>