@model Keysme.Web.ViewModels.Profile.ChangePasswordViewModel

@using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <dl class="dl-horizontal">
        <dt>Old password</dt>
        <dd>
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </dd>
        <hr>
        <dt>New password</dt>
        <dd>
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </dd>
        <hr>
        <dt>Confirm Password</dt>
        <dd>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </dd>
        <hr>
    </dl>
    <button class="btn-u" type="submit">Save Changes</button>
}