@using Keysme.Global
@model Keysme.Web.ViewModels.Profile.ProfileViewModel

@{
    ViewBag.Title = "Profile";
}

<div class="row profile">
    <div class="col-md-3 md-margin-bottom-40">
        @if (this.Model.ChangeInfoViewModel.ProfileImage != null)
        {
            <img class="img-responsive profile-img margin-bottom-20" src="/@Path.Combine(GlobalConstants.UserProfileImageFolder, this.Model.ChangeInfoViewModel.ProfileImage)" alt="">
        }
        else
        {
            <img class="img-responsive profile-img margin-bottom-20" src="/assets/img/team/img32-md.jpg" alt="">
        }
        <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
            <li class="list-group-item active">
                <a href="/Profile/Settings"><i class="fa fa-cog"></i> Settings</a>
            </li>
        </ul>
        <hr>
    </div>
    <div class="col-md-9">
        <div class="profile-body margin-bottom-20">
            <div class="tab-v1">
                <ul class="nav nav-justified nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#profile">Edit Profile</a></li>
                    <li><a data-toggle="tab" href="#passwordTab">Change Password</a></li>
                    <li><a data-toggle="tab" href="#profileImage">Change Profile Image</a></li>
                </ul>
                <div class="tab-content">
                    <div id="profile" class="profile-edit tab-pane fade in active">
                        <h2 class="heading-md">Manage your Profile.</h2>
                        <br>
                        @Html.Partial("ChangeInfoPartial", Model.ChangeInfoViewModel)
                    </div>

                    <div id="passwordTab" class="profile-edit tab-pane fade">
                        <h2 class="heading-md">Manage your Security Settings</h2>
                        <p>Change your password.</p>
                        <br>
                        @Html.Partial("ChangePasswordPartial", Model.ChangePasswordViewModel)
                    </div>

                    <div id="profileImage" class="profile-edit tab-pane fade">
                        <h2 class="heading-md">Change your Profile Image</h2>
                        <br>
                        @Html.Partial("ChangeProfileImagePartial")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Profile Content -->
</div>

@section Css{
    <link rel="stylesheet" href="/assets/css/pages/profile.css">
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript" src="/assets/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/masking.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/datepicker.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/validation.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            Masking.initMasking();
            Datepicker.initDatepicker();
            Validation.initValidation();
            StyleSwitcher.initStyleSwitcher();
        });
    </script>
}