@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Keysme.Global
@model Keysme.Data.Models.Host

<div class="content">
				<!-- Magazine Slider -->
				<div class="carousel slide carousel-v2 margin-bottom-40" id="portfolio-carousel">
				    <ol class="carousel-indicators">
				        @for (int i = 0; i < this.Model.Images.Count; i++)
                        {
                            <li class="@(i == 0 ? "active" : "") rounded-x" data-target="#portfolio-carousel" data-slide-to="@i"></li>
                        }
				    </ol>

				    <div class="carousel-inner">
				        @{
				            var first = true;
				        }
				        @foreach (var image in this.Model.Images)
                        {
                            if (first)
                            {
                                first = false;
                                <div class="item active">
                                    <img class="full-width img-responsive" src="/@Path.Combine(GlobalConstants.HostImagesFolder, image.HostId + "/" + image.Filename)">
                                </div>
                            }
                            else
                            {
                                <div class="item">
                                    <img class="full-width img-responsive" src="/@Path.Combine(GlobalConstants.HostImagesFolder, image.HostId + "/" + image.Filename)">
                                </div>
                            }
                        }
				    </div>

					<a class="left carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="prev">
						<i class="fa fa-angle-left arrow-prev"></i>
					</a>
					<a class="right carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="next">
						<i class="fa fa-angle-right arrow-next"></i>
					</a>
				</div>
				<!-- End Magazine Slider -->

				<div class="row margin-bottom-60">
					<div class="col-sm-8">
						<div class="headline"><h2>Product Description</h2></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in urna nec risus maximus ultricies. Nam nisi mauris, congue non lacus iaculis, interdum luctus dolor. Maecenas pellentesque sapien nec mauris dictum, et mollis lorem eleifend. In hac habitasse platea dictumst. Fusce nec elit et metus blandit posuere eget id ante. Integer fermentum auctor neque eu venenatis. Praesent diam eros, mollis a mattis sit amet, scelerisque sit amet dui. Morbi sed lectus ut lorem vehicula interdum a nec dui. Nam at placerat risus. Mauris eget faucibus tortor. Sed sed iaculis ligula. Aliquam porttitor viverra sagittis.</p>
					</div>
					<div class="col-sm-4">
						<div class="headline"><h2>Product Details</h2></div>
						<ul class="list-unstyled project-details">
							<li><strong>Client:</strong> Web Design</li>
							<li><strong>Date:</strong> 17 October 2014</li>
							<li><strong>Categories:</strong> <a href="#">Web Design,</a> <a href="#">Graphic</a></li>
							<li><strong>Website:</strong> <a href="#">https://htmlstream.com</a></li>
						</ul>
					</div>
				</div>

				<div class="cube-portfolio">
					<div id="grid-container" class="cbp-l-grid-agency">
						<div class="cbp-item">
							<div class="cbp-caption margin-bottom-20">
								<div class="cbp-caption-defaultWrap">
									<img src="/assets/img/portfolio/07.jpg" alt="">
								</div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
											<ul class="link-captions no-bottom-space">
												<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
												<li><a href="/assets/img/portfolio/07.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="cbp-title-dark">
								<div class="cbp-l-grid-agency-title">Dashboard</div>
								<div class="cbp-l-grid-agency-desc">Web Design / Graphic</div>
							</div>
						</div>
						<div class="cbp-item">
							<div class="cbp-caption margin-bottom-20">
								<div class="cbp-caption-defaultWrap">
									<img src="/assets/img/portfolio/08.jpg" alt="">
								</div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
											<ul class="link-captions no-bottom-space">
												<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
												<li><a href="/assets/img/portfolio/08.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="cbp-title-dark">
								<div class="cbp-l-grid-agency-title">World Clock Widget</div>
								<div class="cbp-l-grid-agency-desc">Logo / Web Design</div>
							</div>
						</div>
						<div class="cbp-item">
							<div class="cbp-caption margin-bottom-20">
								<div class="cbp-caption-defaultWrap">
									<img src="/assets/img/portfolio/09.jpg" alt="">
								</div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
											<ul class="link-captions no-bottom-space">
												<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
												<li><a href="/assets/img/portfolio/09.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="cbp-title-dark">
								<div class="cbp-l-grid-agency-title">To-Do Dashboard</div>
								<div class="cbp-l-grid-agency-desc">Graphic / Logo</div>
							</div>
						</div>
						<div class="cbp-item">
							<div class="cbp-caption margin-bottom-20">
								<div class="cbp-caption-defaultWrap">
									<img src="/assets/img/portfolio/10.jpg" alt="">
								</div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
											<ul class="link-captions no-bottom-space">
												<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
												<li><a href="/assets/img/portfolio/10.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="cbp-title-dark">
								<div class="cbp-l-grid-agency-title">Events and More</div>
								<div class="cbp-l-grid-agency-desc">Web Design / Graphic</div>
							</div>
						</div>
					</div>
				</div>
			</div>
