@{
    Layout = null;
}

<div class="col-md-3">
    <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
        <li class="list-group-item"><a href="shortcode_thumbnails.html">Main information</a></li>
        <li class="list-group-item"><a href="shortcode_thumbnails.html">Location</a></li>
        <li class="list-group-item"><a href="shortcode_accordion_and_tabs.html">Amenities</a></li>
        <li class="list-group-item"><a href="#test">Images</a></li>
        <li class="list-group-item"><a href="#test">Publish</a></li>
    </ul>
</div>